//- Chat
script(src="/js/controllers/chat.js")
link(rel='stylesheet', href='/css/chat.css')
//- Frame
div.chat.well()
	div.header-bar.alert.alert-info()
		//div.navbar
		//	div.navbar-inner
		//	a.brand(href="#") Title
		//		ul.nav
		//			<li class="active"><a href="#">Home</a></li>
		//			<li><a href="#">Link</a></li>
		//			<li><a href="#">Link</a></li>
		a().minimize-btn &#8595; Minimize
		//-a(style="width:20px;") &times;

	div(style="").scroll-view
		ul(style="")
			
	p.form-inline(style="").form
		input(type="text", placeholder="Type your message here...")
		button.btn.btn-primary.send-btn Send
