script(src='https://cdn.goinstant.net/v1/platform.min.js')
//- GoInstant - User-List Widget
<script src="https://cdn.goinstant.net/widgets/user-list/latest/user-list.min.js"></script>
<link href="https://cdn.goinstant.net/widgets/user-list/latest/user-list.css" rel="stylesheet" type="text/css" />
script(src='/js/controllers/goinstant.js')
//- GoInstant - User-Colors Widget
<script type="text/javascript" src="https://cdn.goinstant.net/v1/platform.min.js"></script>
<script type="text/javascript" src="https://cdn.goinstant.net/widgets/user-colors/latest/user-colors.min.js"></script>
