
extends layout_nav

block content
	//-include account
	//-include modals/alert
	//-include modals/confirm
	div.container
		br
		div.well
			h1 	Welcome to SMU CS
			p 	Feel free to browser around.

block scripts
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')
	script(src='/js/form-validators/accountValidator.js')
	