!!! 5
html
	head
		title SMUCS
		link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')
	body.hasNavigation
		include github_banner
		include navbar
	block content
	block scripts