div.navbar.navbar-fixed-top
	div.navbar-inner
		div.container-fluid
			ul#global-nav.nav.pull-left
				li
					a(href='#').brand SMU CS
				li
					a(href="/home") Home
				li 
					a(href="http://140.184.132.237:4567/category/13", target="_blank") Events
				li
					a(href="/courses") Courses					
				li
					a(href="/users") Users
				li
					a(href="http://140.184.132.237:4567/", target="_blank") Forum

			a.btn.btn-danger(href="https://github.com/Glavin001/smucs/issues", target="_blank")
				| Issues

			a.btn.btn-success(href="http://140.184.132.237:8123", target="_blank")
				| GitlabHQ

			span.pull-right
				a.btn.btn-info(href="/account")
					| @ #{udata.name}

				button#btn-logout.btn.btn-primary
					i.icon-lock.icon-white
					| Sign Out
