div.navbar.navbar-fixed-top
	div.navbar-inner
		div.container-fluid
			ul#global-nav.nav.pull-left
				li
					a(href='#').brand SMU CS
				li
					a(href="/home") Home
				li
					a(href="/courses") Courses					
				li
					a(href="/print") Users

			a.btn.btn-warn(href="https://github.com/Glavin001/smucs/issues", target="_blank")
				| Issues

			span.pull-right
				a.btn.btn-info(href="/account")
					| Account

				button.btn.btn-primary
					i.icon-lock.icon-white
					| Sign Out
