div.chat.well {
	bottom: 0px; 
	position: fixed; 
	right: 0px; 
	width: 300px; 
	margin-right: 5px; 
	margin-bottom: 0px; 
	padding:0px;	
}

.chat .header-bar.alert {
	margin-bottom: 5px;
}
.chat .scroll-view {
	overflow: scroll; 
	height: 150px; 
	margin-bottom: 0px; 
	padding:0px; 
}

.chat .scroll-view ul {
	list-style-type: none; 
	padding-left: 0px; 
	margin-left: 10px;
}

.chat .form {
	margin-left: 10px;
	overflow: hidden;
}

.chat .user {
	color: blue;
}
.chat .msg {
	color: black;	
}

.chat.closed .scroll-view
	height: 0px

.chat.closed .form
	height: 0px;
	margin-bottom: 0px;